{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-6">
    <div class="card p-5 shadow-lg">
      <h3 class="mb-5 text-center"><i class="bi bi-unlock-fill me-2"></i>Password Reset</h3>
      <div>We have sent you an e-mail. Please contact us if you do not receive it in a few minutes.</div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
