{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container my-5"></div>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card p-5 shadow-lg">
        <h3 class="mb-5 text-center"><i class="bi bi-shield-lock-fill me-2"></i>Change Password</h3>
        <form method="post" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-sm btn-primary mt-4 w-100" type="submit" value="Change Password">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
