{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Done{% endblock title %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card p-5 shadow-lg text-center">
        <h3 class="mb-5"><i class="bi bi-unlock-fill me-2 text-success"></i>Password Reset</h3>
        <div><i class="bi bi-check2-circle text-success"></i> Your password has been changed.</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}