[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bulma = "*"
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-maintenance-mode = "*"
mysqlclient = "*"
pillow = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
