[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.7"
