crispy-bulma==0.8.0
Django==4.1.4
django-allauth==0.51.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.6.0
django-environ==0.9.0
django-maintenance-mode==0.17.1
mysqlclient==2.1.1
psycopg2-binary==2.9.3
whitenoise==6.2.0
