/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 130%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.lead {
  color: black;
  font-weight: 200;
}

.options1 {
  outline: 4px solid gold;
  background-color: white;
  position: absolute;
  top: 300px;
  left: 300px;
  width: 300px;
}

.options2 {
  outline: 4px solid gold;
  background-color: white;
  position: absolute;
  float: right;
  top: 300px;
  right: 250px;
  width: 300px;
}

.policy {
  outline: 4px solid gold;
  background-color: white;
  position: absolute;
  top: 250px;
  left: 200px;
  width: 500px;
}
.policy2 {
  outline: 4px solid gold;
  background-color: white;
  position: absolute;
  top: 250px;
  right: 200px;
  width: 500px;
}

ul {
  list-style-type: circle;
}

.code {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.mini {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.appeal {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.appeal:hover {
  background-color: #00603d;
}

.greeting {
  margin-left: 100px;
}


body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: rgb(160, 182, 245);
}

.container {
  max-width: 960px;
  margin-top: 35px;
}

.navbar-brand {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pricing-header {
  max-width: 500px;
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
