{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}DjangoBoot{% endblock title %}</title>
    <meta name="description" content="A framework for launching new Django projects quickly.">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  </head>

  <body>

    <nav class="navbar container" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'home' %}">
            Home
          </a>
          <a class="navbar-item" href="{% url 'about' %}">
            About
          </a>
        </div>

        <div class="navbar-end">
          {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ user.email }}
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'account_change_password' %}">
                Change password
              </a><a class="navbar-item" href="{% url 'account_email' %}">
                Change email
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'account_logout' %}">
                Sign out
              </a>
            </div>
          </div>
          {% else %}
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="{% url 'account_signup' %}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{% url 'account_login' %}">
                Log in
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <section class="section container is-fullheight-with-navbar">
      {% if messages %}
        {% for message in messages %}
        <div class="notification is-{% if message.level == 20 %}info{% elif message.level == 25 %}success{% elif message.level == 30 %}warning{% else %}danger{% endif %}">{{message}}</div>
        {% endfor %}
      {% endif %}
      {% block content %}
      <p>Default content</p>
      {% endblock content %}
    </section>
    <footer class="navbar">
      <p class="navbar-item">Footer...</p>
    </footer>
    <script>
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });

      });
    </script>
  </body>

</html>